annotated-types==0.7.0
anyio==4.8.0
certifi==2025.1.31
charset-normalizer==3.4.1
click @ file:///work/perseverance-python-buildout/croot/click_1698845879718/work
colorama @ file:///work/perseverance-python-buildout/croot/colorama_1698847155966/work
eval_type_backport==0.2.2
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
ImageHash==4.3.2
jsonpath-python==1.0.6
loguru @ file:///croot/loguru_1729800300339/work
markdown-it-py @ file:///work/perseverance-python-buildout/croot/markdown-it-py_1698846045803/work
mdurl @ file:///work/perseverance-python-buildout/croot/mdurl_1698845653285/work
mistralai==1.5.1
mypy-extensions==1.0.0
numpy==2.2.3
pillow==11.1.0
-e git+https://github.com/fllin1/plu.git@7b1eea9d525960c1bdd2d4ad1ce24937a659b48a#egg=plu
pydantic==2.10.6
pydantic_core==2.27.2
Pygments @ file:///work/perseverance-python-buildout/croot/pygments_1698846270603/work
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
PyWavelets==1.8.0
requests==2.32.3
rich @ file:///croot/rich_1732638981168/work
scipy==1.15.2
setuptools==75.8.0
shellingham @ file:///work/perseverance-python-buildout/croot/shellingham_1698846956774/work
six==1.17.0
sniffio==1.3.1
tqdm @ file:///croot/tqdm_1738943501192/work
typer @ file:///work/perseverance-python-buildout/croot/typer_1698863732129/work
typing-inspect==0.9.0
typing_extensions @ file:///croot/typing_extensions_1734714854207/work
urllib3==2.3.0
wheel==0.45.1
